.fade-out {
    animation: fade-out 0.2s ease-out forwards;
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-out {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}