@font-face {
    font-family: Philosopher;
    src: url(/dist/fonts/Philosopher/Philosopher-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Philosopher;
    src: url(/dist/fonts/Philosopher/Philosopher-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Philosopher;
    src: url(/dist/fonts/Philosopher/Philosopher-Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: Philosopher;
    src: url(/dist/fonts/Philosopher/Philosopher-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria.otf);
    font-weight: normal;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-Italic.otf);
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-BoldItalic.otf);
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-ExtaBlack.otf);
    font-weight: 800;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-ExtraBlackItalic.otf);
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-ExtraLight.otf);
    font-weight: 200;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-ExtraLightItalic.otf);
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-Heavy.otf);
    font-weight: 900;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-HeavyItalic.otf);
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-LightItalic.otf);
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-MediumItalic.otf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-Thin.otf);
    font-weight: 100;
}
@font-face {
    font-family: Geometria;
    src: url(/dist/fonts/Geometria/Geometria-ThinItalic.otf);
    font-weight: 100;
    font-style: italic;
}
